<style>
  nav#score-navigation {
      background: #039;
      color: #fc0;
      min-height: 32px;
    }
    nav#score-navigation ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;
    }
    nav#score-navigation ul li {
      display: inline;
    }
    nav#score-navigation ul li a {
      display: inline-block;
      padding: 8px;
      border-bottom: none;
    }
    nav#score-navigation ul li a:after {
      display: none;
    }
    nav#score-navigation ul li a:hover {
      background: #fc0;
    }
    nav#score-navigation ul li.selected a {
      background: #fc0;
      color: #039;
    }
</style>

<nav id="score-navigation">
  <ul>
    <li><a href="http://northsearegion.eu/score">Public website</a></li>
     <li class="selected"><a href="http://score.partners">For partners</a></li>
     <li><a href="https://score.community">Community forum</a></li>
     <li><a href="https://drive.google.com/open?id=0B_auLtDQpnPSWi1KdWJHaEhyUTg">Files</a></li>
<li><a href="https://github.com/score-partners">Code</a></li>
  </ul>
</nav>
