<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{page.title}} | {% endif %}SCORE Partners</title>

  <style>
   {% include github-style.css %}

    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      line-height: 1.5;
    }
    main, nav>ul {
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 8px;
      font-size: 16px;
    }

    main {
      display: flex;
      flex-direction: row;
    }
    section#content {
      width: 100%;
    }
    section#content article {
      padding: 6vw;
    }
    
    /* General styling */
    a:link, a:visited, a:active {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #fc0;
    }
    a[href^="http"] {
      border-bottom: 1px solid #039;
    }
    a:hover {
      color: #039;
    }

    #edit-links {
      text-align: right;
      border-bottom: 1px solid #eee;
    }

    #edit-links>a {
      display: inline-block;
      padding: 8px;
      text-decoration: none;
    }
    #edit-links>a>svg {
      bottom: -2px;
      position: relative;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  {% include score-nav.html %}
  {% include header.html %}
  <main>
    {% include sidebar.liquid %}
    <section id="content">
    {% if page.path != '404.md' %}
    <div id="edit-links">
      <a href="https://github.com/score-partners/score.partners/issues/new?body=I'd like to report an issue in `{{ page.path }}`">{% include github-issue.svg %} File issue on this page</a>
      <a href="https://github.com/score-partners/score.partners/edit/master/{{ page.path }}">{% include github-pr.svg %} Edit on GitHub</a>
    </div>
    {% endif %}
    <article>
      {{ content }}
    </article>
    </section>
  </main>
  {% include footer.html %}
</body>
</html>
