<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SCORE Partners</title>

  <style>
   {% include github-style.css %}

    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
    }
    main, nav>ul {
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 8px;
      font-size: 16px;
    }
    
    /* General styling */
    a:link, a:visited, a:active {
      color: inherit;
    }
    a:hover {
      color: #039;
    }
  </style>
</head>
<body>
  {% include score-nav.html %}
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
